<h2>Destination "{{ destination.name }}" detail</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">Name:</label>

        <div class="col-md-10">
            <input type="text" class="form-control" [(ng-model)]="destination.name">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Longitude:</label>

        <div class="col-md-10">
            <input type="number" class="form-control" [(ng-model)]="destination.lon" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Latitude:</label>

        <div class="col-md-10">
            <input type="number" class="form-control" [(ng-model)]="destination.lat" >
        </div>
    </div>



    <div class="row">
        <a class="btn btn-default" [router-link]="['\Destinations']">
            << Back to destinations
        </a>

        <a class="btn btn-success" (click)="saveDestination(destination)">
            <i class="fa fa-save"></i>
            Save
        </a>

        <a class="btn btn-danger" *ng-if="destination.id" (click)="deleteDestination(destination)">
            <i class="fa fa-times"></i>
            Delete
        </a>
    </div>
</form>