<header class="navbar navbar-inner navbar-fixed-top">
    <nav class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="app-title">Airline Service</span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a [router-link]="['\Flights']">Flights</a></li>
                <li><a [router-link]="['\Destinations']">Destinations</a></li>
                <li><a [router-link]="['\Reservations']">Reservations</a></li>
                <li>
                    <active-sessions></active-sessions>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main class="container">
    <router-outlet></router-outlet>
</main>

<footer>
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner footer">
            <div class="container">
                <footer>
                    <div class="row">
                        <div class="col-md-12">
                            <!--Created by <a href="http://twitter.com/DanWahlin" target="_blank">Dan Wahlin</a>-->
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</footer>